div.all {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: auto;
}

div.modeSelect {
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

div.winScreen{
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: #CCEAEA;
    border-radius: 10px;
    padding: 1px 55px 25px 55px;
    background: rgba(35, 119, 120, 0.55);
    opacity: 0.97;
}

div.pop{
    display: none;
    height: 100%;
}

img.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 5vh;

}

div.blueBg{
    background-color: #CCEAEA;
    border-radius: 20px;
    padding: 10px 40px 10px 40px;
    margin-left: auto;
    margin-right: auto;
}

div.buttons{
    display: inline-block;
    vertical-align:middle; 
    text-align:center;
    flex-wrap: nowrap;
    overflow: hidden;
}

video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

div.vid0{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    object-fit: cover;
}

div.vid1 {
    position: absolute;
    height: 100%;
    width: 65%;
    z-index: -1;
    top: 0;
    left: -15%; 
    overflow: hidden;
    
}

div.vid2 {
    position: absolute;
    height: 100%;
    width: 65%;
    z-index: -2;
    top: 0;
    left: 35%; 
    overflow: hidden;
    
}

div.vid1Border{
    position: fixed;
    text-align:center;
    left: 0%;
    top: 0%;
    height: 98%;
    width: 49.5%;
    border:6px solid #FF00FF;
}

div.vid2Border{
    position: absolute;
    text-align:center;
    height: 98%;
    width: 49%;
    left: 50.25%;
    top: 0%;
    border:6px solid #0033EE;
}

div.finish1{
    position: absolute;
    display: none;
    top: 50%;
    left: 25%;
    background-color: #CCEAEA;
    border-radius: 10px;
    padding: 55px 55px 55px 55px;
    background: rgba(35, 119, 120, 0.55);
    opacity: 0.97;
}

div.finish2{
    position: absolute;
    display: none;
    top: 50%;
    left: 65%;
    background-color: #CCEAEA;
    border-radius: 10px;
    padding: 55px 55px 55px 55px;
    background: rgba(35, 119, 120, 0.55);
    opacity: 0.97;
}

p.title{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 5vh;
    line-height: 0px;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    color: #000000;

}

p.winScreen{
     width:100%;
     text-align:center;
     font-family: Open Sans;
     font-style: normal;
     font-weight: 600;
     font-size: 30px;
     line-height: 0px;
     margin-bottom: 40px;

    color: #ffffff;
}

p.bikeTime{
     position:absolute;
     font-family: Open Sans;
     font-style: normal;
     font-weight: 600;
     font-size: 50px;
     line-height: 0px;
     bottom:0px;
     right: 50px;

    color: #ffffff;
}

p.pauseInstructions{
     width:100%;
     position:fixed;
     bottom:0px;
     text-align:center;
     font-family: Open Sans;
     font-style: normal;
     font-weight: 600;
     font-size: 30px;
     line-height: 0px;
     margin-bottom: 40px;

    color: #ffffff;
}

p.startCountdown{
    width:100%;
    position:fixed;
    text-align:center;
    vertical-align: middle;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 300px;
    line-height: 0px;
    margin-bottom: 40px;
    
    color: #ffffff;
}


button.playButton{
    display: table-cell;
    background-color: #fcf4f2;
    border: 0.75vh solid #fa9980;
    color: black;
    font-weight: bold;
    font-size: 2.25vw;
    border-radius: 50%;
    width: 27vh; 
    height: 27vh;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.29);
    margin: 35px;
    text-align: center;
    vertical-align: middle;

}

button.playButton:hover{
    background-color: #f7c0b2;
    border: 5px solid #fa9980;
    color: black;
    font-weight: bold;
    font-size: 25px;
    border-radius: 50%;
    width: 190px; 
    height: 190px;
    transition: .4s;

}

button.playButton:active{
    background-color: #fa9980;
    border: 5px solid #fa9980 ;
    color: black;
    font-weight: bold;
    font-size: 25px;
    border-radius: 50%;
    width: 190px; 
    height: 190px;
    transform: translateY(2px);
    box-shadow: inset 0 0 4px rgba(128, 128, 128, 0.1);
    transition: .1s;

}

button.pickButton{
    display: table-cell;
    background-color: #f7f7f7;
    border: 0.75vh solid #39B7B8 ;
    color: white;
    font-weight: bold;
    font-size: 2.5vw;
    border-radius: 50%;
    width: 30vh; 
    height: 30vh;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.29);
    margin: 20px;
    text-align: center;
    vertical-align: middle; 

}

button.pickButton:active{
    display: table-cell;
    background-color: #f7f7f7;
    border: 5px solid #39B7B8 ;
    color: white;
    font-weight: bold;
    font-size: 30px;
    border-radius: 50%;
    width: 215px; 
    height: 215px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.29);
    margin: 20px;
    text-align: center;
    vertical-align: middle;
    transform: translateY(2px);
    box-shadow: inset 0 0 4px rgba(128, 128, 128, 0.1);
    transition: .1s;

}

button.disabled{
    background-color: #C4C4C4;
    border: 5px solid #C4C4C4 ;
    font-weight: bold;
    font-size: 25px;
    border-radius: 50%;
    width: 215px; 
    height: 215px;
    margin: 20px;
    text-align: center;
    vertical-align: middle;

}

button.modeButton{
    display: table-cell;
    background-color: #f7f7f7;
    border: 5px solid #39B7B8 ;
    color: #39B7B8;
    font-weight: bold;
    font-size: 30px;
    border-radius: 50%;
    width: 215px; 
    height: 215px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.29);
    margin: 20px;
    text-align: center;
    vertical-align: middle; 

}
